<div class="row">
	<div class="col-12 col-lg-12 d-lg-flex">
		<div class="text-rotate">
			<h3 class="font-weight-320 text-uppercase text-flip"><%= t('contacts.title') %></h3>
		</div>
		<p class="margin-70px-bottom sm-margin-30px-bottom"><%= t('contacts.instructions') %></p>
	</div>
	<div class="col-12 col-lg-10 offset-lg-1">
		<%= flash_message2 %>
		<%= simple_form_for @investor_inquiry || InvestorInquiry.new, url: investor_inquiries_path, method: :post, remote: true, wrapper: :form_border, html: { class: "form-border" } do |f| %>
			<div class="row align-items-center">
				<%= f.input :name %>
				<%= f.input :email %>
				<%= f.input :phone %>
				<%= f.input :message %>
				<% if @show_recaptcha_v2 %>
					<input type="hidden" value="true" name="investor_inquiry[use_v2]" id="investor_inquiry_use_v2">
					<%= raw Iec::Recaptcha.recaptcha_v2_render %>
				<% else %>
					<%= raw Iec::Recaptcha.recaptcha_execute('investor_inquiry') %>
				<% end %>
				<div class="col-12 margin-30px-top">
					<button type="submit" class="btn btn-large btn-iec btn-rounded"><%= t('global.submit') %> <i class="iec-icon-right icon-very-small"></i></button>
				</div>
			</div>
		<% end %>
	</div>
</div>
