<div class="container-xl">
	<div class="row <%= "text_color" %>">
		<div class="col-12 col-md-1 wow animate__fadeInDown">
			<div class="text-rotate">
				<span class="font-weight-320 mb-2 d-block text-uppercase text-flip sm-fs-14px"><%= t('amnt.mines_location') %></span>
			</div>
		</div>
		<div class="col-12 col-md-11 wow animate__fadeInUp" data-wow-delay="0.2s">
			<h4 class="font-weight-400 text-uppercase"><%= t('amnt.operations') %></h4>
			<div class="row">
				<div class="col-6 col-lg-4 offset-lg-1 sm-padding-20px-left">
					<span class="text-medium"><%= t('amnt.copper') %></span>
					<h2 class="font-weight-400 mb-3">16<%= t('number.format.separator') %>6</h2>
					<span class="d-block text-medium line-height-22 w-50 sm-w-100"><%= raw t('amnt.desc1') %></span>
				</div>
				<div class="col-6 col-lg-4">
					<span class="text-medium"><%= t('amnt.gold') %></span>
					<h2 class="font-weight-400 mb-3">22<%= t('number.format.separator') %>5</h2>
					<span class="d-block text-medium line-height-22 w-50 sm-w-100"><%= raw t('amnt.desc2') %></span>
				</div>
			</div>
		</div>
	</div>
</div>
