<%= content_for :head do %>
	<script src="https://www.google.com/recaptcha/api.js?render=<%= ENV['RECAPTCHA_V3_SITE_KEY'] %>"></script>
<% end %>

<div class="container tab-style3">
	<div class="row">
		<div class="col-12">
			<div class="tab-box margin-70px-bottom sm-margin-10px-bottom">
				<!-- start tab navigation -->
				<ul class="nav nav-tabs margin-30px-bottom sm-margin-10px-bottom text-uppercase alt-font text-medium font-weight-500 justify-content-start">
					<li class="nav-item"><a class="text-medium-gray nav-link active" href="#tab-five1" data-bs-toggle="tab"><%= t('contacts.investor') %></a></li>
					<li class="nav-item"><a class="text-medium-gray nav-link" href="#tab-five2" data-bs-toggle="tab"><%= t('contacts.journalist') %></a></li>
					<li class="nav-item"><a class="text-medium-gray nav-link" href="#tab-five3" data-bs-toggle="tab"><%= t('contacts.partner') %></a></li>
				</ul>
				<!-- end tab navigation -->
			</div>
			<div class="tab-content">
					<!-- start tab content -->
					<div class="tab-pane med-text fade in active show" id="tab-five1">
						<div class="row">
							<div id="investorInquiryForm" class="col-12">
								<%= render "investor_inquiries/form" %>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in" id="tab-five2">
						<div class="row">
							<div id="journalistInquiryForm" class="col-12">
								<%= render "journalist_inquiries/form" %>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in" id="tab-five3">
						<div class="row">
							<div id="partnerInquiryForm" class="col-12">
								<%= render "partner_inquiries/form" %>
							</div>
						</div>
					</div>
					<!-- end tab content -->
			</div>
		</div>
	</div>
</div>
