<% archives = ArchiveType.get_disclosure_informations(3) %>
<% unless archives.empty? %>
<%- at = archives.first.archive_type -%>
<div class="container-xl">
	<div class="row padding-50px-all sm-padding-20px-lr wow animate__fadeIn">
		<div class="col-12 col-lg-12 d-lg-flex sm-no-padding-lr">
			<div class="text-rotate sm-w-100" style="width:160px;margin-right:-80px;">
				<h3 class="font-weight-320 text-uppercase text-flip"><%= snippet.title %></h3>
			</div>
			<% unless snippet.short_description.blank? %>
				<div class="margin-50px-bottom sm-margin-30px-bottom"><%= raw snippet.short_description %></div>
			<% end %>
		</div>
		<div class="col-12 col-lg-8 offset-lg-4 archives">
			<% archives.each_with_index do |archive, idx| %>
				<div class="row padding-two-tb border-bottom <%= 'border-top' if idx == 0 %>">
					<div class="col-12 col-lg-9 col-md-7 no-padding-lr sm-margin-15px-bottom sm-margin-15px-top">
						<span class="text-large text-uppercase alt-font font-weight-400 w-90 sm-w-100"><%= archive.title %></span>
						<span class="text-small text-uppercase d-block"><%= archive.try(:published_date).try(:strftime, '%d %b %Y') %></span>
						<span class="text-uppercase text-medium"><%= archive.try(:archive_type).try(:name) %></span>
					</div>
					<div class="col-lg-3 col-md-2 no-padding-lr text-start text-lg-end sm-margin-15px-bottom">
						<%= render_link_download_file(archive, "btn btn-medium btn-iec btn-border btn-rounded") %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="margin-30px-top text-center text-md-end no-padding-lr">
			<a class="btn btn-medium btn-iec btn-rounded" href="<%= page_path(at) %>">
				<%= t('global.view_all') %> <i class="iec-icon-right icon-very-small"></i>
			</a>
		</div>
	</div>
</div>
<% end %>
