<div class="container-xl">
	<div class="row">
		<div class="col-md-1 d-md-flex">
			<div class="text-rotate">
				<h3 class="font-weight-320 text-uppercase text-flip w-300px"><%= snippet.title %></h3>
			</div>
		</div>
		<div class="col-12 col-md-11">
			<div class="row justify-content-center row-cols-1 row-cols-md-2">
				<!-- start interactive banners item -->
				<div class="col text-start wow animate__fadeIn" data-wow-delay="0.2s">
					<figure>
						<div class="feature-box-content sm-w-100 margin-30px-bottom">
							<div class="feature-box-image d-flex justify-content-center align-items-center">
								<%= image_tag("rocks/smelter-feed.png") %>
							</div>
						</div>
						<figcaption>
							<div class="margin-25px-tb padding-ten-lr sm-padding-one-lr">
								<h4 class="font-weight-320 text-uppercase margin-20px-bottom d-inline-block w-95 sm-w-100"><%= t('amin.smelter_feed') %></h4>
								<p class="text-medium margin-30px-bottom sm-margin-15px-bottom">
									<%= raw t('amin.smelter_feed_desc') %>
								</p>
							</div>
						</figcaption>
					</figure>
				</div>
				<!-- end interactive banners item -->
				<!-- start interactive banners item -->
				<div class="col text-start wow animate__fadeIn" data-wow-delay="0.4s">
					<figure>
						<div class="feature-box-content sm-w-100 margin-30px-bottom">
							<div class="feature-box-image d-flex justify-content-center align-items-center">
								<%= image_tag("rocks/smelter-product.png") %>
							</div>
						</div>
						<figcaption>
							<div class="margin-25px-tb padding-ten-lr sm-padding-one-lr">
								<h4 class="font-weight-320 text-uppercase margin-20px-bottom d-inline-block w-95 sm-w-100"><%= t('amin.smelter_product') %></h4>
								<div class="row text-medium margin-30px-bottom sm-margin-15px-bottom">
									<div class="col-6 col-lg-4">
										<%= image_tag("pictures/minerals/copper-cathode.png", class: "mb-1") %>
										<p>
											<%= raw t('amin.smelter_product_desc1') %>
										</p>
									</div>
									<div class="col-6 col-lg-4">
										<%= image_tag("pictures/minerals/sulfuric-acid.png", class: "mb-1") %>
										<p>
											<%= raw t('amin.smelter_product_desc2') %>
										</p>
									</div>
								</div>
							</div>
						</figcaption>
					</figure>
				</div>
				<!-- end interactive banners item -->
			</div>
		</div>
	</div>
</div>
