<div class="container-xl">
	<div class="row padding-50px-tb wow animate__fadeIn">
		<div class="col-12 col-lg-1 d-lg-flex">
			<div class="text-rotate">
				<h3 class="font-weight-320 text-uppercase text-flip mb-5"><%= snippet.title %></h3>
			</div>
		</div>
		<div class="col-12 col-lg-11">
			<div class="row">
				<div class="col-lg-6 padding-five-lr margin-50px-bottom sm-margin-30px-bottom wow animate__fadeInUp">
					<h2 class="font-weight-400 mb-3"><%= t('work_experience.title1') %></h2>
					<span class="d-block line-height-22"><%= t('work_experience.desc1') %></span>
				</div>
				<div class="col-lg-6 padding-five-lr margin-50px-bottom sm-margin-30px-bottom wow animate__fadeInUp">
					<h2 class="font-weight-400 mb-3"><%= t('work_experience.title2') %></h2>
					<span class="d-block line-height-22"><%= t('work_experience.desc2') %></span>
				</div>
				<div class="col-lg-6 padding-five-lr margin-50px-bottom sm-margin-30px-bottom wow animate__fadeInUp">
					<h2 class="font-weight-400 mb-3"><%= t('work_experience.title3') %></h2>
					<span class="d-block line-height-22"><%= t('work_experience.desc3') %></span>
				</div>
				<div class="col-lg-6 padding-five-lr margin-50px-bottom sm-margin-30px-bottom wow animate__fadeInUp">
					<h2 class="font-weight-400 mb-3"><%= t('work_experience.title4') %></h2>
					<span class="d-block line-height-22"><%= t('work_experience.desc4') %></span>
				</div>
				<div class="col-lg-6 padding-five-lr wow animate__fadeInUp">
					<h2 class="font-weight-400 mb-3"><%= t('work_experience.title5') %></h2>
					<span class="d-block line-height-22"><%= t('work_experience.desc5') %></span>
				</div>
			</div>
		</div>
	</div>
</div>
