<%= render "shared/setting_banners" %>

<section id="<%= @member_type.name.downcase.underscore %>" class="half-section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center tab-style3">
				<!-- start tab navigation -->
				<ul class="nav nav-tabs margin-50px-bottom sm-margin-30px-bottom text-uppercase alt-font text-medium font-weight-500 justify-content-start">
					<% @member_types.each do |mt| %>
						<li class="nav-item"><a href="<%= page_path(mt) %>" class="nav-link text-medium-gray <%= 'active' if @member_type == mt %>"><%= mt.name %></a></li>
					<% end %>
				</ul>
				<!-- end tab navigation -->
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-start">
					<% @members.each_with_index do |member, index| %>
						<!-- start team item -->
						<div class="col team-block text-start team-style-1 md-margin-seven-bottom wow animate__fadeInUp">

							<figure>
								<a class="popup-with-zoom-anim" href="<%= "#modal-member-#{member.id}" %>">
									<div class="team-image sm-w-100">
										<%= image_tag cdn_image_url(member.photo), class: "w-100 border-radius-8", alt: member.full_name %>
										<div class="overlay-content text-center d-flex flex-column align-items-center justify-content-center">
											<div class="text-large font-weight-400 text-white-2 text-uppercase alt-font"><%= t('global.view_profile') %></div>
										</div>
										<div class="team-overlay bg-black opacity7 border-radius-8"></div>
									</div>
									<figcaption>
										<div class="team-member-position margin-20px-top margin-30px-bottom sm-margin-10px-bottom">
											<div class="text-extra-large font-weight-500 text-extra-dark-gray text-uppercase alt-font"><%= member.full_name %></div>
											<div class="text-medium"><%= member.job_title %></div>
										</div>
									</figcaption>
								</a>
							</figure>

						</div>
						<!-- end team item -->
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<%= content_for :tail do %>
	<% @members.each_with_index do |member, index| %>
		<!-- start modal pop-up -->
		<div id="<%= "modal-member-#{member.id}" %>" class="col-12 col-lg-8 col-md-8 zoom-anim-dialog mfp-hide bg-white mx-auto modal-popup-main">
			<div class="row mx-auto">
				<div class="col-12 col-lg-6 no-padding-lr">
					<%= image_tag(cdn_image_url(member.photo), class: "w-100") %>
				</div>
				<div class="col-12 col-lg-6 padding-40px-top padding-50px-lr sm-padding-20px-tb sm-padding-10px-lr">
					<h5 class="text-extra-dark-gray text-uppercase alt-font font-weight-400 margin-15px-bottom d-block"><%= member.full_name %></h5>
					<span><%= member.job_title %></span>
					<div class="separator-line-horrizontal-full bg-white margin-three-tb sm-margin-20px-tb"></div>
					<div class="max-h-300px sm-h-100 overflow-auto">
						<%= raw member.description %>
					</div>
				</div>
			</div>
		</div>
		<!-- end modal pop-up -->
	<% end %>
<% end %>
